body{
    font-size: 30px;
    background-color: tomato;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color:wheat;
}
button{
    color: white;
    background-color:wheat;
}